
/* ::::: http://citeseerx.ist.psu.edu/css/reset.css ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0px; padding: 0px; border: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }
body { line-height: 1.5; }
table { border-collapse: separate; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: medium none; }
a, a:visited, a:active { text-decoration: none; color: rgb(0, 120, 164); }
a:hover { text-decoration: underline; color: rgb(0, 77, 105); }

/* ::::: http://citeseerx.ist.psu.edu/css/typography.css ::::: */

#main li ul, #main li ol { margin: 0px; }
#main ul { list-style-type: none; }
#main ol { list-style-type: decimal; }
#main dl { margin: 0px 0px 1.5em; }
#main dl dt { font-weight: bold; }
#main dd { margin-left: 1.5em; }
.link { color: rgb(0, 120, 164); text-decoration: underline; }
h3 { margin-bottom: 0.825em; }
.link, .link:visited, .link:active { text-decoration: none; color: rgb(0, 120, 164); }
.link:hover { text-decoration: underline; color: rgb(0, 77, 105); cursor: pointer; }

/* ::::: http://citeseerx.ist.psu.edu/css/frame.css ::::: */

body { font: 0.75em/1.4 arial,sans-serif; }
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.5em; }
h3 { font-size: 1.5em; line-height: 1; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }
#wrapper { width: 960px; margin: 0px auto; padding: 0px 10px; }
#header { position: relative; height: 120px; }
#header h1 { position: absolute; left: 14px; top: 30px; }
#main { border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); position: relative; width: 100%; min-height: 400px; }
#search { position: absolute; right: 0px; top: -80px; }
#search .s_field { font-size: 1.2em; border: 1px solid rgb(204, 204, 204); width: 340px; padding: 4px; }
#search .s_button { border: medium none; background: none repeat scroll 0% 0% transparent; font-size: 1.5em; cursor: pointer; }
#search a { float: right; }
#search .opts { margin: 3px 0px 0px -4px; font-size: 0.95em; width: 360px; }
#content { margin: 4px; width: 100%; }
#content.sidebar {  }
#footer { text-align: center; margin-top: 20px; width: 100%; color: rgb(170, 170, 170); font-size: 0.95em; }
#footer #sponsors { margin-bottom: 10px; }
#footer ul.links { list-style: none outside none; display: inline; }
#footer li { display: inline; padding: 14px; }
#footer p { margin: 12px 0px; }
#footer p.info { margin-top: 20px; }
.submenu { width: 100%; height: 30px; display: block; margin: 20px 0px 10px; clear: both; }
.submenu ul { height: 26px; border-bottom: 1px solid rgb(204, 204, 204); }
.submenu li { display: block; float: left; height: 30px; margin: 0px 12px; }
.submenu a { font-size: 14px; padding: 8px 16px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.submenu li.active { border-bottom: 1px solid rgb(255, 255, 255); }
.submenu li.active a { border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 8px 16px 9px; }
#main.nosubheader { border-top: medium none; }

/* ::::: http://citeseerx.ist.psu.edu/css/topnav.css ::::: */

#topnav { position: relative; max-width: 960px; min-width: 760px; height: 32px; border-bottom: 1px solid rgb(221, 221, 221); border-left: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); }
#search_nav { height: 100%; position: relative; width: 500px; list-style: none outside none; }
#search_nav li { display: inline; }
#topnav a, #topnav a:active, #topnav a:visited { padding: 6px 16px 4px; font-weight: bold; text-decoration: none; color: rgb(85, 85, 85); display: block; float: left; }
#search_nav a { border-right: 1px solid rgb(238, 238, 238); }
#search_nav a.active { border-bottom: 3px solid rgb(27, 119, 164); }
#topnav a:hover { color: rgb(0, 0, 0); }
#activeLine { position: absolute; bottom: 0px; left: 0px; width: 0px; height: 3px; background: none repeat scroll 0% 0% rgb(27, 119, 164); display: block; }
#toptools { position: absolute; right: 0px; list-style: none outside none; top: 0px; height: 100%; }
#toptools li { display: inline; }
#toptools a, #toptools a:active, #toptools a:hover, #toptools a:visited { top: 0px; display: inline; float: right; border-left: 1px solid rgb(238, 238, 238); }

/* ::::: http://citeseerx.ist.psu.edu/css/widgets.css ::::: */

.error { color: rgb(150, 74, 87); background-color: rgb(244, 217, 218); border: 1px solid rgb(213, 187, 188); font-size: 1.2em; font-weight: bold; padding: 8px; margin: 8px 0px; }
#tagcloud { display: block; margin: 8px; }
#tagcloud li { float: left; padding: 10px; list-style: none outside none; }
#tagcloud .tag1 { font-size: 14px; }
#tagcloud .tag2 { font-size: 16px; }
#tagcloud .tag3 { font-size: 18px; }
#tagcloud .tag4 { font-size: 20px; }
#tagcloud .tag5 { font-size: 22px; }
#tagcloud .tag6 { font-size: 24px; }
.errorMsg { color: red; }
.button { border: 0px none; background: none repeat scroll 0% 0% rgb(238, 238, 238); padding: 4px 8px; cursor: pointer; font-size: 14px; }
.button:hover { background: none repeat scroll 0% 0% rgb(221, 221, 221); }
#submit-advsearch { margin-left: 16px; }
input.textField, textarea.textField { border: 1px solid rgb(204, 204, 204); padding: 4px; display: inline; }
.formField { display: block; clear: left; position: relative; padding: 6px 1px; }
.formField .title { width: 100px; float: left; text-align: right; padding: 4px 12px 0px 0px; }
.fieldSet { border: 1px solid rgb(204, 204, 204); padding: 8px; margin: 12px; }
button.link { border: 0px none; background: none repeat scroll 0% 0% transparent; font-size: 12px; padding: 0px; margin: 8px 0px; }
form .button { margin-left: 120px; }
th { font-weight: bold; font-size: 1.2em; border-bottom: 1px solid rgb(204, 204, 204); padding: 4px; margin: 3px; }
td { padding: 8px 4px; }
table { width: auto; }
table tr { min-height: 20px; }
table .ops ul { vertical-align: middle; margin: 0px ! important; padding: 0px; }
.ops li { vertical-align: middle; display: inline; padding: 0px 10px 0px 0px; line-height: 13px; }

/* ::::: http://citeseerx.ist.psu.edu/css/mycsx.css ::::: */

#mycsxMenu { border-bottom: 1px solid rgb(204, 204, 204); height: 25px; }
#loginContent { width: 480px; margin: 0px auto; padding: 8px; text-align: center; }
#loginForm { margin: 0px auto; width: 300px; }
#loginForm div { margin: 12px 0px 18px; clear: both; }
#loginForm label.title { width: 180px; font-size: 18px; font-weight: bold; padding-right: 18px; color: rgb(51, 51, 51); text-align: left; float: left; }
#loginForm input.loginField { border: 1px solid rgb(221, 221, 221); padding: 4px; font-size: 14px; width: 280px; float: left; }
#login-action { width: 100%; text-align: left; padding-top: 8px; height: 42px; }
#login-button { float: right; padding: 4px 8px; margin-right: 10px; }
#loginForm a { float: left; line-height: 32px; }
#captcha img { padding-left: 154px; }
span.required { color: red; }
#accountSubmit { margin-left: 180px; }
#newsFeed h4 { margin-bottom: 3px; }
.newsItem { margin: 6px; border-bottom: 1px solid rgb(235, 235, 235); padding: 6px; }
.newsItem p { margin-left: 8px; }
#left-sidebar { width: 180px; height: 100%; float: left; border-right: 1px solid rgb(181, 181, 181); margin-right: 20px; }
#left-sidebar a { font-size: 16px; line-height: 1.6em; }
#body { width: 100%; max-width: 750px; margin-left: 210px; }
table#collections-list { width: 100%; }
td.title, th.title { width: auto; }
td.year { width: auto; min-width: 60px; }
td.author { width: auto; min-width: 80px; }
td.cites, th.cites { min-width: 70px; }
#papers { width: auto; }
#papers table { width: 100%; }
.banner_edit, .invite_field { width: 100%; }
td.centertext { text-align: center; }

/* ::::: http://citeseerx.ist.psu.edu/css/results.css ::::: */

#result_info { background: none repeat scroll 0% 0% rgb(236, 236, 236); padding: 4px; max-width: 720px; }
#result_list { padding: 6px; max-width: 720px; }
.result { border-bottom: 1px solid rgb(187, 187, 187); padding: 8px; width: auto; }
.result h3 { margin: 4px 0px 6px; }
.result h3 a { text-decoration: underline; }
.pubinfo { color: rgb(51, 51, 51); }
.pubvenue, .pubyear { font-style: italic; }
.snippet { color: rgb(85, 85, 85); }
.snippet em { font-weight: bold; }
.abstract_toggle { cursor: pointer; }
.pubabstract { border: 1px solid rgb(187, 187, 187); background: none repeat scroll 0% 0% rgb(238, 238, 238); margin-top: 8px; padding: 8px; display: none; color: rgb(51, 51, 51); }
.pubtools { position: relative; width: 100%; height: 20px; }
.save_doc { cursor: pointer; }
#pager { float: right; text-align: right; }
table.authInfo { max-width: 720px; }
.authInfo td { padding: 4px 8px; }
.authInfo td.title { font-weight: bold; width: 80px; }
#sidebar { width: 220px; display: block; height: 100%; float: right; border-left: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#sidebar h3 { padding: 8px 16px; background: none repeat scroll 0% 0% rgb(238, 238, 238); font-size: 16px; }
#sidebar #feeds { float: right; }
#sidebar div { border-width: 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 8px; padding: 8px; font-size: 14px; }
#sidebar table { width: 100%; }
#sidebar td { text-align: center; }

/* ::::: http://citeseerx.ist.psu.edu/css/view.css ::::: */

#viewHeader { position: relative; font-size: 12px; padding: 10px; }
#viewHeader.viewDoc {  }
#viewHeader.viewAuth { min-height: 140px; font-size: 14px; }
#viewHeader li { list-style: none outside none; }
#clinks { display: block; }
#clinks li { display: inline; }
#docAuthors { margin-bottom: 8px; font-size: 16px; }
#downloads { width: 260px; height: 140px; overflow-x: hidden; overflow-y: auto; float: right; border-left: 1px solid rgb(204, 204, 204); font-size: 12px; padding: 8px 12px 8px 8px; }
#downloads h3 { font-size: 14px; }
#downloads ul { margin: 4px; }
#docInfo { width: auto; }
#docInfo td { padding: 4px 8px 4px 0px; vertical-align: top; }
#docInfo td.title { font-weight: bold; }
#docTools li { display: block; }
#docMenu { width: 100%; height: 25px; display: block; margin: 20px 0px 10px; }
#docMenu ul { margin: 0px; }
#docTools { float: right; border: 1px solid rgb(204, 204, 204); width: 120px; margin: 0px 18px; }
#docTools li { padding: 4px 8px; }
#viewContent { min-width: 760px; padding: 8px; margin-bottom: 16px; position: relative; }
#viewContent.no-menu { margin-top: 0px; }
#viewContent.sidebar { padding: 0px; }
#viewContent-inner { padding: 8px; }
#viewContent h3 { margin-bottom: 4px; }
#viewContent .link { font-size: 14px; font-weight: bold; }
table.refs {  }
table.refs .title { font-weight: bold; text-align: right; }
table.refs td { padding: 2px 4px; font-size: 13px; }
#viewSidebar { width: 300px; float: right; height: 100%; margin-left: 10px; }
#viewSidebar div { padding: 8px; }
#viewSidebar h3 { font-size: 16px; padding: 8px; background: none repeat scroll 0% 0% rgb(238, 238, 238); margin-bottom: 4px; }
#bibtex p { font-family: monospace; border: 1px solid rgb(204, 204, 204); padding: 4px; overflow-y: hidden; }
#bookmark table { width: 100%; }
#bookmark td { text-align: center; padding: 8px; }
#abstract { margin-bottom: 16px; }
table.version th { border-bottom: 2px solid rgb(170, 170, 170); font-weight: bold; padding: 4px 8px; }
table.version td { border-bottom: 1px solid rgb(204, 204, 204); padding: 4px 8px; }
#versions .active a { color: rgb(51, 51, 51); text-decoration: underline; }
#versions.block li { list-style: none outside none; padding: 4px 16px; }
table#authInfo { width: 600px; }
#authInfo td { padding: 2px 8px; }
#authInfo td.title { font-weight: bold; }
#authSort { float: right; }
.viewAuth { border-bottom: 1px solid rgb(204, 204, 204); }
#tags input { display: inline; }
#tags .tagField { width: 150px; }
.tdnumber { text-align: right; vertical-align: bottom; }

/* ::::: http://citeseerx.ist.psu.edu/css/corrections.css ::::: */

.tdfixedwidth { width: 60px; }
.tdrightalign { text-align: right; }

/* ::::: http://citeseerx.ist.psu.edu/css/main.css;jsessionid=DDF9CF91E1C7F5F062EBE064DA614B08 ::::: */

.clear { clear: both; }

/* ::::: http://widgets.twimg.com/j/2/widget.css ::::: */

.twtr-widget { position: relative; font-size: 12px ! important; font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif ! important; }
.twtr-fullscreen { font-size: 220% ! important; }
.twtr-fullscreen .twtr-new-results {  }
.twtr-inactive { display: none; }
.twtr-widget a img { border: 0px none ! important; }
.twtr-doc { overflow: hidden; width: 100%; text-align: left; font-weight: normal; border-radius: 5px 5px 5px 5px; }
.twtr-bd { padding: 0px 1px; }
.twtr-widget .twtr-tweet-wrap { padding: 6px 8px; overflow: hidden; }
.twtr-fullscreen .twtr-tweet-wrap { padding: 20px; }
.twtr-widget .twtr-tweet { border-bottom: 1px dotted rgb(221, 221, 221); overflow: hidden; }
.twtr-widget-profile img.twtr-profile-img { display: block; float: left; width: 31px; height: 31px; border: 0px none ! important; }
.twtr-widget h3, .twtr-widget h4, .twtr-widget p { margin: 0px ! important; padding: 0px ! important; line-height: 1.2 ! important; width: auto ! important; }
.twtr-widget-profile h3, .twtr-widget-profile h4 { margin: 0px 0px 0px 40px ! important; }
.twtr-widget h3 { font-size: 11px ! important; font-weight: normal ! important; }
.twtr-widget h4 { font-size: 16px ! important; }
.twtr-widget em, .twtr-widget .twtr-new-results { font-size: 9px; font-style: normal; display: block; margin-top: 2px; }
.twtr-widget .twtr-new-results { text-align: center; padding: 3px; margin: 0px auto -10px ! important; display: block; position: relative; bottom: 5px; line-height: 0.9; }
.twtr-results-inner { line-height: 1; font-size: 100%; padding: 4px 0px; position: relative; bottom: -2px; width: 40%; margin: 0px auto; z-index: 2; text-align: center; }
.twtr-results-hr { width: 100%; position: relative; z-index: 1; height: 1px; border-bottom: 1px dotted rgb(221, 221, 221); bottom: 7px; background: none repeat scroll 0% 0% transparent; overflow: hidden; }
.twtr-new-results span { position: relative; z-index: 3; top: -14px; display: block; font-size: 9px ! important; }
.twtr-fullscreen .twtr-new-results span { font-size: 24px ! important; }
.twtr-hd { padding: 10px; position: relative; overflow: hidden; }
.twtr-fullscreen .twtr-hd { height: 0px; padding: 0px; }
.twtr-timeline { border-radius: 6px 6px 6px 6px; position: relative; overflow: hidden; z-index: 2; height: 225px; }
.twtr-scroll .twtr-timeline { overflow-x: hidden; overflow-y: auto; }
.twtr-widget .twtr-tweet:last-child { border-bottom-width: 0px; }
.twtr-ft { position: relative; }
.twtr-ft div { overflow: hidden; padding: 10px; }
.twtr-ft span { float: right; text-align: right; }
.twtr-ft a { float: left; display: block; }
.twtr-ft span a { float: none; }
.twtr-avatar { width: 40px; height: 40px; float: left; overflow: hidden; display: block; }
.twtr-fullscreen .twtr-avatar { width: 80px; height: 80px; }
.twtr-img { height: 25px; width: 25px; }
.twtr-img img { width: 30px; height: 30px; }
.twtr-fullscreen .twtr-img img { width: 72px; height: 72px; }
.twtr-fullscreen a.twtr-join-conv { display: none; }
.twtr-tweet-text { margin-left: 40px; }
.twtr-fullscreen .twtr-tweet-text { margin-left: 90px; }
.twtr-doc a { text-decoration: none ! important; }
.twtr-doc a:hover { text-decoration: underline ! important; }

/* ::::: null ::::: */

#twtr-widget-1 .twtr-avatar { display: block; }
#twtr-widget-1 .twtr-user { display: inline; }
#twtr-widget-1 .twtr-tweet-text { margin-left: 40px; }

/* ::::: null ::::: */

#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4 { background-color: rgb(230, 230, 230) ! important; color: rgb(0, 0, 0) ! important; }
#twtr-widget-1 .twtr-tweet a { color: rgb(25, 133, 181) ! important; }
#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p { color: rgb(68, 68, 68) ! important; }
#twtr-widget-1 .twtr-new-results, #twtr-widget-1 .twtr-results-inner, #twtr-widget-1 .twtr-timeline { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
